
/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #161317;
  background-repeat: no-repeat;
  color: white;
}

img.footer-logo {
    transform: rotate(90deg);
    margin: -3rem 0rem 0rem 9rem;
    width: 45% !important;
}

span#netsplit {
  font-size: 12px;
  text-align: right;
  position: relative;
  left: 45%;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
          box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 2rem;
}


/*
 * Header
 */

.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: bold;
  color: rgba(255,255,255,.5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255,255,255,.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 40em) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 62em) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 42rem;
  }
}

/* Custom Job */

#address {
  background: gray;
  border: 1px solid white;
  border-radius: 25px;
  color: black;
  font-size: 15px;
  font-family: -webkit-body;
  margin: -1rem 1rem 1rem 0rem;
  padding: 1.5rem 0rem 0rem 2rem;
  width: 22%;
}

#attributes {
  width: 100%;
}

#btc {
  height: 13px;
  margin-bottom: 4px;
  width: 65px;
}

#deadline {
  background: grey;
  border: 1px solid white;
  height: auto;
  margin: 5% 9%;
  padding: 1rem;
}

#ethereum {
  background: white;
  border: 1px solid white;
  border-radius: 12px;
  height: 25px;
  opacity: 0.6;
  padding: 3px;
  width: 90px;
  margin: 4px 8px;
}

#giphy {
  border: 25px solid orange;
  padding: 1rem;
}

#hit {
  background: #7fee1d;
  border-radius: 60px;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  height: 38px;
  margin: -5% 0%;
  right: 18%;
  width: 38px;
}

#location1 {
  color: bisque;
  font-size: larger;
  padding: 0% 0% 5%;
  text-align: right;
  text-align: -webkit-right;
  text-decoration: underline;
}

#location2 {
  color: bisque;
  font-size: larger;
  padding: 0% 0% 5%;
  text-align: left;
  text-align: -webkit-left;
  text-decoration: underline;
}

#map {
  border-radius: 25px;
}

#miss {
  background: red;
  border-radius: 60px;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  height: 38px;
  margin: -5% 0%;
  right: 18%;
  width: 38px;
}

#my-video {
  transition-timing-function: ease;
  transition: 3s;
}

#name1 {
  color: cadetblue;
  font-size: x-large;
  text-align: right;
  text-align: -webkit-right;
}

#name2 {
  color: cadetblue;
  font-size: x-large;
  text-align: left;
  text-align: -webkit-left;
}

#console {
  height: 30rem;
  width: 100%;
  background-color: gray;
  padding: 2rem;
  margin: 2rem 0rem;
  border: 2px solid gold;
}

#divHeader {
  color: saddlebrown;
  padding: 3% 37%;
  text-align: center;
}

#portal {
  height: 100%;
  width: auto;
  overflow-y: scroll;
  white-space: pre;
}

#profession {
  color: gold;
  float: right;
}

#profile1 {
  border-right: 1px solid white;
}

#profile1 .card {
  min-height: 12em;
}

#profile1 .card-body {
  border-radius: 0px 0px 15px 15px;
}

#profile1 h4 {
  background: lavender;
  border: 2px solid;
  border-radius: 15px;
  color: steelblue;
  font-size: xx-large;
  padding: 2rem;
  text-decoration: underline;
}

#profile2 {
  border-left: 2px solid purple;
}

#profile2 .card {
  min-height: 12em;
}

#profile2 .card-body {
  border-radius: 0px 0px 15px 15px;
}

#profile2 h4 {
  background: lavender;
  border: 2px solid;
  border-radius: 15px;
  color: steelblue;
  font-size: xx-large;
  margin: 1rem -1.4rem;
  padding: 2rem;
  text-decoration: underline;
  width: 106%
}

#Scene1 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  height: 86.5%;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}

#Scene2 {

}

#Scene2 h1 {
  color: lightcyan;
  text-align: center;
}

#Scene3 {
  background: forestgreen;
}

#Scene4 .card {
  min-height: 12em;
}

#slice {
  margin: 40% 5% 10% 5%;
}

#slice .progress-bar {
  background-color: purple;
}

#splashCarousel {
  background: black;
  border: 3px double skyblue;
  border-radius: 15px;
  margin-left: 10% !important;
  opacity: 0.6;
  transition-timing-function: ease;
  transition: 5s;
}

#splashCarousel .card-header {
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-top: 1px solid white;
}

#splashCarousel .container-fluid {
  border-left: 1px solid white;
  border-right: 1px solid white;
}

#statusUpdates {
  float: right;
  margin-right: 4%;
}

#theJob {
  background: black;
  border: 3px double skyblue;
  border-radius: 15px;
  margin: 5% 14.5% !important;
  opacity: 0.6;
  padding: 2em 2em;
  transition-timing-function: ease;
  transition: 5s;
}

#theJob h2 {
  font-size: 50px;
  color: gold;
  text-shadow: green 2px 2px;
}

#TwitterBox {
  padding: 5% 0% 0%;
  margin: 2% 2% 0%;
  position: relative;
  overflow-y: scroll;
}

#TwitterBox .card {
  min-height: 15em;
}

#updates {
  background: black;
  border: 4px solid skyblue;
  border-radius: 15px;
  height: 300px;
  margin: 0% 4% 10% 4%;
  opacity: 0.6;
  overflow-y: scroll;
  padding: 7%;
  transition-timing-function: ease;
  transition: 5s;
}

#userPicture {
  border-radius: 50px;
  margin: 3% 50% -5% 50%;
  max-height: 101px;
  max-width: 101px;
}

#user_1 {
  border: 11px solid white;
  border-radius: 25px;
  background-color: firebrick;
  margin: 0% 0% 8% 1%;
  max-height: 25rem;
  max-width: 54rem;
  padding: 5% 0% 10% 0%;
}

#user_2 {
  border: 11px solid white;
  border-radius: 25px;
  background-color: firebrick;
  margin: 0% 0% 8% 1%;
  max-height: 25rem;
  max-width: 54rem;
  padding: 5% 0% 5% 0%;
}

#watson h2 {
  border: 1px solid white;
  font-size: 30px;
  margin: 4em;
  padding: 2em;
}

#watson {
  color: white;
  text-align: center;
}

#watson .card-header {
  padding: 10% 0;
  background-color: cadetblue;
  border-radius: 15px;
  border: 2px solid white;
  font-size: small;
  margin: 5% 0%;
  padding: 14% 0;
  text-overflow: auto;
}

#watson .card-header-results {
  background-color: crimson;
  border-radius: 15px 15px 0px 0px;
  border-top: 2px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 0px solid white;
  font-size: large;
  font-family: monospace;
  margin: 0%;
  min-height: 6em;
  padding: 14% 0;
}

.article {
  background: black;
  border: 2px solid white;
  border-radius: 15px;
  margin: 7% 0%;
  padding: 6%;
  transition-timing-function: ease;
  transition: 5s;
}

.article h4 {
  text-decoration: underline;
}

.attribute {
  background-color: black;
  border-radius: 30px;
  color: darkgoldenrod;
  margin-right: -20.5%;
  text-align: center;
}

.blender-footer {
  background: orange;
  border: 1px solid white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 5rem;
  margin-bottom: 4rem;
  width: 96.5%;
}

.blockquote-footer {
  float: right;
  margin: 2rem -1rem 2rem;
}

.blockChainButton {
  margin-top: 2%;
  margin-left: -7%;
}

.btcDonate {
  opacity: 0;
  padding: 0% 2% 0 0;
  transition-timing-function: ease;
  transition: 5s;
}

.btcDonate span {
  font-size: 11px;
  color: gold;
  vertical-align: middle;
}

.btcDonate hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.btn-secondary {
  margin: 0 0.1em 12px 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 32%;
  z-index: 5;
}

.card {
  min-height: 10em;
}

.card-body {
  background-color: dimgrey;
  background-image: url('http://anthonyplummer.elementfx.com/wp-content/uploads/2018/01/bright-squares.png');
  border-radius: 15px 15px;
  border: 3px dotted slategray;
  color: honeydew;
  margin: 0 0px;
  padding: 2rem 2rem;
  text-align: -webkit-center;
  text-shadow: black 1px 1.5px;
}

.card-body .match-heavy {
  border-radius: 0px 0px 15px 15px;
}

.card-header {
  background: orange;
  border-radius: 10px 10px 0 0;
  color: ghostwhite;
  font-size: large;
  margin: 0rem 0rem 0 0rem;
  padding: 5% 16% 1% 16%;
  text-decoration: underline;
  text-shadow: black 0.2rem 0.1rem;
  width: 100%;
}

.card-header-facebook-posts {
  background: cornflowerblue;
  border-radius: 10px 10px 0 0;
  color: lightyellow;
  font-size: smaller;
  margin: 0rem 0rem 0rem 0rem;
  padding: 0%;
  text-decoration: underline;
  text-shadow: black 0.2rem 0.1rem;
  width: 100%;
}

.card-header-twitter-posts {
  background: deepskyblue;
  border-radius: 10px 10px 0 0;
  color: ghostwhite;
  font-size: large;
  margin: 0rem 0rem 0rem -1.3rem;
  padding: 5% 16%;
  text-decoration: underline;
  text-shadow: black 0.2rem 0.1rem;
  width: 105.8%;
}

.card-footer {
  height: 10px;
}

.card-profile-photo img {
  border: 2px solid darkgrey;
  border-radius: 8px;
}

.card-profile-articlePhoto {
  background: lightsteelblue;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 7px;
  contain: strict;
  margin: 2rem 0;
  min-height: 15rem;
  padding: 1rem 0;
}

.card-profile-articlePhoto img {
  border-radius: 5px;
  height: auto;
  width: 90%;
}

.card-profile-description {
  border-left: 1px solid white;
  border-right: 12px solid lightsteelblue;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-style: double;
  margin: 2rem 0 3rem 0;
  overflow-x: auto;
  padding: 1rem;
  position: relative;
  text-align: initial;
}

.card-profile-footer {
  background: cornflowerblue;
  border-radius: 15px;
  opacity: 0.7;
}

.card-profile-title {
  font-family: serif;
  font-size: larger;
  min-height: 5rem;
  top: 1rem;
  word-wrap: break-word;
}

.center {
  text-align: center;
}

.console {
  text-align: left;
}

.entire {
  padding: 0 6.5em 0 7em;
}

.ethereumDonate {
  transition-timing-function: ease;
  transition: 5s;
}

.feed {
  background-color: white;
  border: 4px solid black;
  height: 47rem;
  margin: 1.5em;
  overflow-y: scroll;
  position: relative;
  padding: 1.5em;
}

.feed::-webkit-scrollbar {
  width: 1em;
}

.feed::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.feed::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 2em 0 2em 0;
  height: 4em;
  outline: black;
}

.feed-pills {
  padding-top: 5px;
}

.giphy {
  background-color: white;
}

.giphy img {
  width: 100%;
  height: 10.5rem;
}

.hidden {
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.info {
  text-align: left;
}

.info-2 {
  text-align: right;
}

.jumbotron {
  background-color: #565656;
  border: 4px solid white;
  margin: 0em 5em 2em;
  opacity: 0.7;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  position: relative;
  transition-timing-function: ease;
  transition: 5s;
}

.jumbotron h1 {
  color: white;
  transition-timing-function: ease;
  transition: 5s;
}

.match-heavy {
  background-color: green !important;
  border: 1px solid mediumspringgreen;
  color: chartreuse;
}

.match-medium {
  background-color: yellow !important;
  color: blue;
}

.match-light {
  background-color: red !important;
  color: cornsilk;
}

.nav-link {
  padding: 0em 2em;
  position: relative;
  top: 0.8em;
}

.navbar {
  position: relative;
  padding-top: 1rem;
}

.navbar-brand-s {
  background-color: brown;
  border-radius: 15px 0px 15px 0px;
  float: initial;
  font-family: serif;
  font-size: 18px;
  line-height: 20px;
  margin: 0em 0em 0em 4em;
  padding: 0.2em 51px;
  position: relative;
  text-decoration: underline;
}

.navbar-feed {
  margin: 2em;
  background-color: gray;
  border: 4px solid white;
  opacity: 0;
  padding: 1em 2em;
}

.navbar-right {
  margin-top: -0.5rem;
}

.progress {
  border-radius: 0px 75px;
  margin: 15% 5% -10% 5%;
}

.result #slice {
  background-color: chartreuse;
  margin: 2% 5% 2% 5%;
}

.result .progress-bar {
  background-color: dimgray;
  color: greenyellow;
  font-size: large;
  padding: 2% 0% 0% 8%;
  text-decoration: overline;
  text-decoration-color: cornsilk;
  text-decoration-style: dotted;
  text-shadow: black 2px 2px;
}

.result .progress {
  margin: 0px;
  height: 2.5em;
}

.score {
  background: #428bca;
  border-radius: 30px;
  font-size: xx-small;
  padding: 15px 10px;
  position: relative;
  top: 25px;
}

.slice {
  background-color: brown;
}

.social {
  padding-bottom: 0%;
}

.spacer {
  height: 75px;
}

.trackpack p {
  font-size: 14px;
}

.twitter-ace {
  background: cadetblue;
  border-radius: 67px;
  border: 5px solid white;
  margin: 1% 4%;
  min-height: 15em;
  padding: 1% 2%;
}

.updateNavbarHeaderText {
  background: black;
  border: 1px solid white;
  border-radius: 6px;
  font-size: 18px;
  opacity: 0.9;
}

.value p {
  background-color: darkgoldenrod;
  border-radius: 15px;
  color: black;
  font-size: 1.2rem;
  margin-left: -8%;
  text-align: center;
  width: 140%;
}

/* =============================================================================
  VIDEO
============================================================================= */
.video {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 1;
  transition: opacity 1s linear;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.visible {
  visibility: visible;
  opacity: 1;
  transition-timing-function: ease;
  transition: 5s;
}

footer {
  background: gray;
  border-radius: 1px;
  bottom: -1.5%;
  font-family: monospace;
  font-size: 12px;
  padding: 0.1% 2%;
  position: fixed;
  text-align: right;
  transition-timing-function: ease;
  transition: 5s;
  width: 100%;
}

input[type="radio"], input[type="checkbox"] {
  margin: 0;
}

span {
  color: red;
  font-size: 8px;
  position: relative;
  top: 0.2rem;
  vertical-align: super;
}



/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 480px) and (orientation: portrait){
  /* some CSS here */
  #splashCarousel {
    margin: 30px;
  }
}

/* #### Mobile Phones Landscape #### */
@media screen and (max-device-width: 640px) and (orientation: landscape){
  /* some CSS here */
}

/* #### Mobile Phones Portrait or Landscape #### */
@media screen and (max-device-width: 640px){
  /* some CSS here */

  #exampleAccordion1 {
    width: 40%;
  }

  #Scene2 h1 {
    padding: 0 2rem;
  }

  #splashCarousel {
    position: relative;
    margin: 10rem 3rem 10rem 0rem;
  }

  #statusUpdates {
    float: none;
    margin-right: 0%;
  }

  #theJob {
    margin: 5% 5.5% !important;
  }

  #watson {
    padding: 2rem;
    border: 0.3rem solid white;
  }

  .btn-secondary {
    margin: 0 0.1em 12px 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 3%;
    width: 32%;
  }

  .jumbotron {
    margin: 0rem 5rem 0rem 5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .mb-1 {
    border: 2px double white;
    margin: 50px 0px 20px 20px;
  }

  .navbar-brand-s {
    margin: 0rem 0rem;
    padding: 0.5rem 1rem;
    width: 10%;
  }
}

/* #### iPhone 4+ Portrait or Landscape #### */
@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2){

}

/* #### iPhone 5 Portrait or Landscape #### */
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2){
  /* some CSS here */

}

/* #### iPhone 6 and 6 plus Portrait or Landscape #### */
@media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3){
  /* some CSS here */
}

/* #### Tablets Portrait or Landscape #### */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px){
  /* some CSS here */
}

/* #### Desktops #### */
@media screen and (min-width: 1024px){
  #splashCarousel {
    margin: 0px;
  }
}
