{% extends "app/layout.html" %}
{% load humanize %}
{% load static %}
{% load staticfiles %}

{% block content %}

<!-- Locally Distributed Dependencies -->
<script src="{% static 'app/js/blockchain.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'app/content/cover.css' %}" />

<!-- Remote Distributed Dependencies -->
<!-- <script src="https://s3.amazonaws.com/phusionfactory/js/blockchain.js"></script>

<link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/phusionfactory/content/cover.css" /> -->

<h2>{{ title }}</h2>

<p>
  Active: 0
</p>

<h3>Scripts running: 1</h3>
<p>
  Cryptocurrencies: {{ totalBlockchains|intcomma }}
</p>

<form action="{% url 'blockchain' %}" method="GET">
    {% csrf_token %}
    {{ form }}
</form>

<div id="scoreboard" class="container-liquid">
  <div class="row">

    <div class="col-md-1">
      <img id="thedude2" src="https://s3.amazonaws.com/phusionfactory/photos/praiseit.jpg" />
    </div>

    <div class="col-md-10">
      <table id="blockchainTable" class="table table-hover table-responsive table-striped">
        <thead>
          <tr>
            <th>Trading Symbol</th>
            <th>Cryptocoin</th>
            <th>Coins in circulation</th>
            <th>Encryption Algorithm</th>
            <th>Proof</th>
          </tr>
        </thead>
        <tbody>
          {% for money, details in embed %}
            {% if details.TotalCoinSupply == "0" %}
            <tr class="danger">
            {% elif details.TotalCoinSupply == "N/A" %}
            <tr class="warning">
            {% else %}
            <tr class="success">
            {% endif %}
              <td>{{ details.Symbol }}</td>
              <td>{{ details.FullName }}</td>
              <td>{{ details.TotalCoinSupply|intcomma }}</td>
              <td>{{ details.Algorithm }}</td>
              <td>{{ details.ProofType }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  </div>
</div>

{% endblock %}
