{% extends "app/layout.html" %}

{% block content %}

{% load static %}

<!-- Locally Distributed Dependencies -->
<link rel="stylesheet" type="text/css" href="{% static 'app/content/contact.css' %}" />

<!-- Remotely Distributed Dependencies -->
<!-- <link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/phusionfactory/content/contact.css" /> -->

<div class="container-fluid ">
  <div class="row">

    <div id="cross-photo" class="col-md-2">
      <img src="{% static 'app/photos/cross.png' %}" class="footer-logo">
    </div>

    <div id="title" class="col-md-2">
      <h2>{{ title }}</h2>
      <h3>{{ message }}</h3>
    </div>

    <div id="address" class="col-md-6">
      <address>
          AP Engineering<br />
          New York, NY 10001<br />
          <a href="mailto:anthony.t.plummer@gmail.com">Gmail Me!</a><br />
          <a href="https://github.com/plummera">GitHub * Plummera</a>
      </address>
      <img src="{% static 'app/photos/cross.png' %}" class="contact-logo">
    </div>

    <div id="cross-photo-2" class="col-md-2">
      <img src="{% static 'app/photos/cross.png' %}" class="contact-logo-2">
    </div>

  </div>

</div>

<div class="row">
  <div class="col-md-2"></div>
    <div id="contact-map" class="col-md-8">
      <h3>Present Day - {{ date }}</h3>
      <div id="map"></div>
    </div>
  <div class="col-md-2"></div>
</div>

<script>
  function initMap() {
    var uluru = {lat: 40.7379521, lng: -74.0345043};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 4,
      center: uluru
    });
    var marker = new google.maps.Marker({
      position: uluru,
      map: map
    });
  }
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCD1J0ahsgrLiikbm-5aSHNqhEE2G12TLw&callback=initMap">
</script>

{% endblock %}
