<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Project Fusion</title>
    {% load staticfiles %}
    <link rel="icon" href="{% static 'app/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" /> -->
    <script src="{% static 'app/js/jquery-1.10.2.min.js' %}"></script>

    <meta name="viewport" content="width=device-width, initial-scale=-1">

</head>

<body>
    {% autoescape on %}
    {% block content %}{% endblock %}
    {% endautoescape %}
</body>

<footer>
    <p>&copy; {{ year }} - AP Engineering</p>
</footer>

{% block scripts %}{% endblock %}

</html>
