<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Project Fusion</title>
    {% load staticfiles %}
    <link rel="icon" href="{% static 'app/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/blockchain.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/skin.css' %}" />

    <!-- <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" /> -->
    <link rel="stylesheet" id="font-awesome-corp-styles-css" type="text/css" media="all" href="{% static 'app/content/font-awesome-corp.css' %}" />
    <link rel="stylesheet" id="font-awesome-styles-css" type="text/css" media="all" href="{% static 'app/content/font-awesome.css' %}" />
    <link rel="stylesheet" id="font-awesome-social-css" type="text/css" media="all" href="{% static 'app/content/font-awesome-social.css' %}" />
    <link rel="stylesheet" id="font-awesome-ext-css" type="text/css" media="all" href="{% static 'app/content/font-awesome-ext.css' %}" />

    <script src="{% static 'app/js/jquery-1.10.2.min.js' %}"></script>
    <script src="{% static 'app/js/jquery-1.10.2.intellisense.js' %}"></script>
    <script src="{% static 'app/js/bootstrap.min.js' %}"></script>

    <meta name="viewport" content="width=device-width, initial-scale=-1">

</head>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand">PhusionS</a>
    </div>

    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a href="http://anthonyplummer.elementfx.com/">Home</a></li>
            <li><a href="http://anthonyplummer.elementfx.com/#team">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            <li><a href="{% url 'link' %}">Link's AutoBot</a></li>
            <li><a href="{% url 'blockchain' %}">Blockchain</a></li>
            <li><a href="{% url 'staging' %}">Staging Area</a></li>
        </ul>
        {% include 'app/loginpartial.html' %}
    </div>
</div>

<body>
    {% autoescape on %}
    {% block content %}{% endblock %}
    {% endautoescape %}
</body>

<section id="footer">

</section>

{% block scripts %}{% endblock %}

</html>
