{% extends "app/layout.html" %}

{% block content %}
  {% load static %}

  <link href="https://cdn.rawgit.com/jcubic/jquery.terminal/master/css/jquery.terminal.min.css" rel="stylesheet"/>

  <link rel="stylesheet" type="text/css" href="{% static 'app/content/cover.css' %}" />

  <script src="{% static 'app/js/link.js' %}"></script>
  <script src="{% static 'app/js/about.js' %}"></script>

  <script src="https://cdn.rawgit.com/jcubic/jquery.terminal/master/js/jquery.terminal.min.js"></script>
  <script src="https://rawgit.com/showdownjs/showdown/develop/dist/showdown.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>

  <div id="consoleContainer" class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>{{ title }}</h2>
        <h3>{{ message }}</h3>
      </div>
    </div>

    <div class="row">

      <div class="col-md-3">
        <h1><u>{{ link.name }}</u></h1>
      </div>

      {% if link.connect_attempt == "HIT" %}
        <div id="hit" class="col-md-4">
          &nbsp;
        </div>
      {% else %}
        <div id="miss" class="col-md-4">
          &nbsp;
        </div>
      {% endif %}

      <div id="connectx" class="col-md-4">
        <button type="button" class="btn btn-success">Connect</button>
        <button type="button" class="btn btn-danger">Disconnect</button>
      </div>

    </div>

    <div class="row">
      <div class="console col col-md-2">
        <div id="attributes" class="container-fluid">
          <div class="row">
            <div id="divHeader" class="col-sm-12">
              <h4><u>Attributes</u></h4>
            </div>

            <div class="col col-sm-auto justify-content-start attribute">
              <p>Class</p>
            </div>

            <div class="col col-sm-auto value">
              <p>{{ link.profession }}</p>
            </div>

            <div class="col col-sm-auto justify-content-start attribute">
              <p>Level</p>
            </div>

            <div class="col col-sm-auto value">
              <p>{{ link.level }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="console col-md-10" data-spy="scroll" data-target="#console">
        <div id="console">
          <div id="portal" class="nav nav-tabs" role="tablist" data-spy="scroll" data-offset="50">
            <script src="{% static 'app/js/redditshell.js' %}"></script>
          </div>
        </div>
      </div>
    </div>

  </div>

{% endblock %}
