{% load static %}

<!-- Locally Distributed Dependencies -->
<link rel="stylesheet" type="text/css" href="{% static 'app/content/login.css' %}" />

<!-- Remotely Distributed Dependencies -->
<!-- <link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/phusionfactory/content/login.css" /> -->

{% if user.is_authenticated %}

<form id="logoutForm" action="/logout/" method="post" class="navbar-right">
    {% csrf_token %}
    <ul class="nav navbar-nav navbar-right">
        <li><span class="navbar-brand">Hello {{ user.username }}!</span></li>
        <li><a href="javascript:document.getElementById('logoutForm').submit();">Log off</a></li>
    </ul>

</form>

{% else %}

<ul class="nav navbar-nav navbar-right">
    <li><a href="{% url 'login' %}"><img id="login-red" class="login-red" scope="public_profile,email" onlogin="checkLoginState();" src="{% static 'app/photos/login-red.png' %}" /></a></li>
    <li><a href="{% url 'signup' %}"><img id="login-red" class="login-red" src="{% static 'app/photos/signup.png' %}" /></a></li>

    <li><div id="facebookCheck" class="col-md-10 col-md-offset-1">

        <!--
          Below we include the Login Button social plugin. This button uses
          the JavaScript SDK to present a graphical Login button that triggers
          the FB.login() function when clicked.
        -->

        <div id="status">
        </div>
      </div></li>
</ul>

{% endif %}
