{% extends "app/layout.html" %}

{% block content %}

{% load static %}

<!-- Locally Distributed Dependencies -->
<link rel="stylesheet" type="text/css" href="{% static 'app/content/staging_area.css' %}" />

<!-- Remotely Distributed Dependencies -->
<!-- <link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/phusionfactory/content/staging_area.css" /> -->

{% if request.user.is_authenticated is not True %}
  {% block login %}
    {% include "app/login-2.html" %}
  {% endblock %}
{% endif %}

{% if request.user.is_authenticated is True %}
  {% block launchpad %}
    {% include "app/launchpad.html" %}
    <script src="{% static 'app/js/splash.js' %}"></script>
  {% endblock %}
{% endif %}

{% endblock %}
