{% extends "app/layout.html" %}

{% block content %}

{% load static %}
{% load staticfiles %}

<!-- Locally Distributed Dependencies -->
<script src="{% static 'app/js/about.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'app/content/cover.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'app/content/about.css' %}"/>

<!-- Remotely Distributed Dependencies -->
<!-- <script src="https://s3.amazonaws.com/phusionfactory/js/about.js"></script>

<link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/phusionfactory/content/cover.css"/>
<link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/phusionfactory/content/about.css"/> -->

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

<h3>You break it, you buy it.</h3>

{% endblock %}
